@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* <style>svg{fill:#1a6eff}</style> */
header{
    position: fixed;
    background: black;
    z-index: 999;
}
.header-tab{
    padding: .8em 1em .4em 1em;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
header .logo{
    font-size: 2rem;
    font-weight: 900;
    
}
header .logo span{
    color: red;
    font-weight: 900;
}
header nav a{
    text-decoration: none;
    margin: 20px;
    color: aliceblue;
    padding: .4em 1em .4em 1em;
    border-radius: 50px;
    border: 1px solid aliceblue;
}
header nav a:hover{
    background: white;
    box-shadow: 0px 0px 12px 3px red;
    color: red;
}
header .menu-icon{
    position: absolute;
    right: 7%;
    display: none;
}

/* =================================================== */

.container{
    height: 100vh;
    padding: 4em;
    background: linear-gradient(to top,rgb(0, 0, 0),rgba(0, 0, 0, 0.412),rgb(0, 0, 0)), url('assets/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5em;
    color: aliceblue;
    line-height: 1.5;
}
.container .landing-page-Heading{
    font-size: 2em;
    font-weight: 400;
    margin-bottom: .3em;
    /* float: left; */
}
.container .landing-page-Heading span{
    margin-bottom: 0;
    font-size: calc(2em + .1rem);
    display: block;
    font-weight: 900;
}


/* =================================================== */
.second-container{
    background: #ffffff;
    padding: 2em;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.second-container .para{
    color: #000;
}
.second-container img{
    width: 500px;
}
.first-container{
    display: flex;
    flex-direction: column;
}

/* =================================================== */

.para{
    color: gray;
}

button{
    color: black;
    padding: .4em 1em .4em 1em;
    border: 1px solid aliceblue;
    margin-top: 20px;
}
button:hover{
   box-shadow: 0px 0px 12px 3px red;
   color: red;
}

/* =================================================== */

footer{
    background: black;
    color: #ffffff;
    padding: 2em;
    text-align: center;
}

.footer-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
}
footer nav a{
    text-decoration: none;
    color: grey;
    margin: 3em;
}
/* @media screen  */



@media (width <= 1060px) {
    .second-container img{
        width: 390px;
        }
}
@media (width <= 950px) {
    .second-container img{
        width: 300px;
        }
    .container{
        flex-direction: column;
        justify-content: center;  
        align-items: center;
        text-align: center;
        height: auto;
        }
}
@media (width <= 769px) {
    header nav{
        display: none;
    }
    .container .landing-page-Heading{
        font-size: large;
    }
    .first-container{
        padding-top: 60px;
        
    }
    
    header .menu-icon{
        display: inline;
    }
    
    .second-container img{
    width: 300px;
    }
}
@media (width < 500px) {
    .second-container img{
        width: 200px;
    }  
}

